# Turn on the bzlmod feature in Bazel, before 6.0 final it's experimental

common --enable_bzlmod
# --@io_bazel_rules_docker//transitions:enable=false
run --stamp --workspace_status_command=lib/stamp.sh
build --stamp --workspace_status_command=lib/stamp.sh
